<script>

    var elements = document.querySelectorAll('p');
    Array.prototype.forEach.call(elements, function(el, i){
        if(el.innerHTML=='[comments]') {
            var parentcontent = el.parentNode.innerHTML.replace('<p>[comments]</p>','<div class="comments" style="display: none; height: 0; overflow: hidden;">').replace('<p>[/comments]</p>','</div>');
            el.parentNode.innerHTML = parentcontent;
        }
    });

    var elements = document.querySelectorAll('div.comments');
    Array.prototype.forEach.call(elements, function(el, i){
        el.previousElementSibling.innerHTML = el.previousElementSibling.innerHTML + '<span>&nbsp; <a style="cursor: pointer;" onclick="this.parentNode.parentNode.nextElementSibling.style.display = \'block\'; this.parentNode.parentNode.nextElementSibling.style.height = \'auto\'; this.parentNode.style.display = \'none\';">Montrer les commentaires&nbsp;&rarr;</a></span>';
    });

</script>
