<article class="poster">
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-post" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{% if post.layout == "critique" %}{{ post.title }}{% if post.french %}/{{ post.french }}{% endif %}{% else %}{{ post.title }}{% endif %}</span></h2>
      {% if post.layout == "critique" %}
        <h2 style="right:0;bottom:inherit;"><span>{{ post.year }}</span></h2>
        <!--h2 style="bottom:inherit;background:rgba(0,0,0,0.7);padding:10px;"><img src="{{ site.github.url }}/assets/img/tags/classification/Moins{{ post.classification }}.svg"
                       style="height:2em;display:inline;vertical-align:text-top;"></h2-->
        <h2 style="bottom:inherit;"><span style="font:inherit;letter-spacing:inherit;padding:0px;vertical-align:middle;"><img src="{{ site.github.url }}/assets/img/tags/classification/Moins{{ post.classification }}.svg"
                       style="height:2em;padding:10px;"></span></h2>
      {% endif %}
    </div>
  </a>
</article>
