<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-post" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }});background-position: 0 -20%"{% endif %}>
      <h2><span>{% if post.layout == "critique" %}{{ post.title }}{% if post.french %}/{{ post.french }}{% endif %} ({{ post.director }}){% else %}{{ post.title }}{% endif %}</span></h2>
      {% if post.layout == "critique" %}<h2 style="right:0;bottom:inherit;"><span>{{ post.year }}</span></h2>{% endif %}
    </div>
  </a>
</article>
