<span class="post-date">
  {{ site.data.settings.post_date_prefix }}
  {{ page.date | date: "%-d" }}
  {% assign B = page.date | date: "%B"   %}
  {% case B %}
    {% when "January"   %}janvier
    {% when "February"  %}février
    {% when "March"     %}mars
    {% when "April"     %}avril
    {% when "May"       %}mai
    {% when "June"      %}juin
    {% when "July"      %}juillet
    {% when "August"    %}août
    {% when "September" %}septembre
    {% when "October"   %}octobre
    {% when "November"  %}novembre
    {% when "December"  %}décembre{% endcase %}
  {{ page.date | date: "%Y" }}
  par
  {% if page.author %}
    <a href="{{ page.author | replace: ' ', '-' | downcase }}"
       style="color:inherit;
              text-decoration:inherit;">{{ page.author }}</a>
  {% else %}
    {{ site.author }}
  {% endif %}
</span>
