---
layout: default
---

<div class="post-content">
  <h1>
    {% include title.html %}
  </h1>
  {% if site.hide_post_date != true %}
    {% if page.date %}
      {% include post-date.html %}
    {% endif %}
  {% endif %}
  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
    </div>
  {% endif %}
  <article>
    <p>Score qualité : <a href="{{ page.stars }}-stars"
      style="color:inherit;text-decoration:inherit;"
        >{% include stars num=page.stars %}</a></p>
    <p>Score personnel : <a href="{{ page.hearts }}-hearts"
      style="color:inherit;text-decoration:inherit;"
        >{% include hearts num=page.hearts %}</a></p>
    {{ content }}
  </article>
  {% if site.hide_post_share != true %}
    {% include post-share.html %}
  {% endif %}
  {% include tags.html %}
  {% if site.hide_related_posts != true %}
    {% include related-posts.html %}
  {% endif %}
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
